
body {
  background-color: pink;
}
/****************Tag Selector**********************/
h1
{
  color: #D36B00;
}
h3
{
  color: #D36B00;
}
/***************************************************/

/*********************Class Selector*********************/
/******Need to create a class name first*****************/
.unicorn{
  background-color: red;
}
/*************************************************/

/*********************ID Selector*********************/
#heading{
  color: pink;
}

hr {
  
  border-style: none;
  height: 0px;
  width: 5%;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

}

