
body {
  background-color: pink;
}
h1
{
  color: #D36B00;
}
h3
{
  color: #D36B00;
}
/*********************Selector*********************/
.unicorn{
  background-color: red;
}
/*************************************************/

hr {
  
  border-style: none;
  height: 0px;
  width: 5%;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

}

